.footer{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 1rem;
    align-items: center;
    text-transform: uppercase;
}

.footer:hover{
    background: rgb(238, 163, 2);
    color: rgb(0, 0, 0);
    align-items: center;
    text-transform: uppercase;
}




/* .footer h1 {  
    margin-left: 20rem;
}
.footer p {  
    margin-left: 20rem;
} */